.select {
  text-align: center;
  &__title {
    color: rgb(119, 93, 247);
    font-family: $font-serif;
    font-weight: bold;
  }
  &__wrap {
    width: 190px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    border: none;
    padding: 0 8px;
  }
  &__wrap:focus {
    outline: none;
  }
}
@media (max-width: 650px) {
  .select {
    margin-top: 8px;
  }
}
