.pokemon-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    .back{
        width: 50px;
    }
}
.p-container{
    @include flexCenter;
    justify-content: space-around;
    .p-info-container{
        background-color: rgba(233, 97, 24, 0.838);
        border-radius: 20px;
        padding: 25px 10px;
        width: 400px;
        h1{
            text-align: center;
            color: rgb(247, 199, 9);
            font-weight: 800;
            font-size: 50px;
            font-family: $font-merinda;
        }
    }
    .p-info-list{
        @include flexBetween;
        margin: 20px;
        font-size: 24px;
        color: purple;
        font-family: $font-merinda;
    }
    .types{
        padding: 10px;
    }
}
.fc-icon{
    width: 60px;
    font-size: 50px;
    margin: 40px 0 0 50px;
    border-radius: 50%;
    background-color: rgb(238, 15, 130);
}
.p-sprites{
    padding: 8px 35px;
}
.sprites{
    font-weight: 800;
    color: indigo;
    margin: 10px 25px;
}

@media (max-width: 650px){
    .p-container{
        flex-wrap: wrap;
    }
    .back{
        float: left;
        margin: 0;
        padding: 0;
    }
    .fc-icon{
        margin: 10px 0 0 10px;
    }
    .p-img-container img{
        width: 350px;
    }
}